$primary: #51ff9c;

body{
  margin-top: 105px;
}


.navbar{
  box-shadow: 2px 2px 5px $primary;

  background: #fff;

  .nav-item{
    font-size: 1.2rem;
    padding-right: 20px;
  }
}

.coninfo span{
  padding-right: 50px;
  font-size: 10px;
}


#showcase{
  position: relative;
  background-color:#00ff99;
  min-height: 40px;
}

iframe{
  max-width: 560px;
  max-height: 315px;
}
